.env
.env.*
vendor
node_modules
.git
.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
README.md
Dockerfile
.dockerignore